* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    font-family: "DM Sans", sans-serif;
}


:root {
    --sfondo: #141318;

    body {
        background-color: var(--sfondo);
    }

    .app-mess {
        background-color: var(--sfondo);
    }
}


.app-mess {
    height: 100vh;
    background-color: #131814;
}

/* #region sidebar */
.sidebar {
    width: 72px;
    height: 100vh;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    background-color: #141318;
}

.sidebar-item {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

/* immagini */
.sidebar-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

/* logo Discord */
.sidebar-item-logo {
    border-radius: 16px;
    background-color: #5865f2;
}

/* barretta server selezionato */
.sidebar-item.is-active::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 28px;
    border-radius: 999px;
    background-color: #ffffff;
}

/* server selezionato */
.sidebar-item:hover {
    border-radius: 16px;
}

/* #endregion sidebar */



/* main */
.mess {
    flex: 1;
    background-color: #1c1d22;
    margin-top: 10px;
    margin-left: 0;
    border-top-left-radius: 18px;
}


/* #region searchbar */
.mess-header {
    padding: 16px;
}

/* titolo */
.mess-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

/* barra di ricerca */
.header-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* lente per cercare */
.mess-search-btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #373a43;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    .mess-search-btn i {
        font-size: 15px;
    }
}


/* barra per aggiungere amici */
.mess-add-friends {
    flex: 1;
    height: 34px;
    border-radius: 999px;
    background-color: #373a43;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #ffffff;

    .mess-add-friends i {
        font-size: 14px;
    }
}

/* #endregion searchbar */



/* #region lista chat */

.chat-list {
    margin-top: 8px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* singola chat */
.chat-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 8px;
    border-radius: 12px;
    transition: background-color 0.20s;
}

.chat-item.selected {
    background-color: #373a43;
}

.chat-item.selected .chat-name {
  color: #ffffff;
}

.chat-item:hover {
    background-color: #2b2d33;
}

/* foto profilo */
.foto-profilo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

/* contenuto testo */
.chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* nome e orario */
.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    .chat-name {
        /* color: #ffffff; */
        color: #807e8a;
        font-size: 15px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
    }

    .chat-time {
        color: #a9abb3;
        font-size: 12px;
        flex-shrink: 0;
    }
}


/* anteprima messaggio */
.chat-preview {
    color: #a9abb3;
    font-size: 14px;
    overflow: hidden;
}

/* #endregion lista chat */


/* #region footer */
body {
    width: 512px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-mess {
    flex: 1;
    display: flex;
    background-color: #2d2d35;
    overflow: hidden;
}

/* bottoni di navigazione */
.app-footer {
    height: 72px;
    background-color: #2b2d33;
    border-top: 1px solid transparent;
    display: flex;
    justify-content: space-around;
    padding: 8px 10px;
}

.app-footer-item {
    flex: 1;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #ffffff;
    font-size: 12px;
}

.app-footer-item i {
    font-size: 22px;
    line-height: 1;
}

/* avatar */
.app-footer-avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
}

/* #endregion footer */