* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    font-family: "DM Sans", sans-serif;
}


.app-mess {
    height: 100vh;
    background-color: #1c1d22;
    display: flex;
}

/* #region sidebar */
.sidebar {
  width: 72px;
  height: 100vh;
  background-color: #141318;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}


.sidebar__item {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* immagini */
.sidebar__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* logo Discord */
.sidebar__item--logo {
  border-radius: 16px;
  background-color: #5865f2;
}

/* #endregion sidebar */



