* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    font-family: "DM Sans", sans-serif;
}


.app-mess {
    height: 100vh;
    background-color: #141318;
    display: flex;
}

/* #region sidebar */
.sidebar {
    width: 72px;
    height: 100vh;
    background-color: #141318;
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}


.sidebar__item {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* immagini */
.sidebar__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* logo Discord */
.sidebar__item--logo {
    border-radius: 16px;
    background-color: #5865f2;
}

/* #endregion sidebar */


/* main */
.mess {
    flex: 1;
    background-color: #1c1d22;
    margin-top: 10px;
    margin-left: 8px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
}


/* #region searchbar */
.mess-header {
    padding: 16px;
}

/* titolo */
.mess-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

/* barra di ricerca */
.header-search {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* lente per cercare */
.mess-search-btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #373a43;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    .mess-search-btn i {
        font-size: 15px;
    }
}


/* barra per aggiungere amici */
.mess-add-friends {
    flex: 1;
    height: 34px;
    border-radius: 999px;
    background-color: #373a43;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #ffffff;

    .mess-add-friends i {
        font-size: 14px;
    }
}

/* #endregion searchbar */